.slick-prev:before,
.slick-next:before {
    color: #6827a2
}

.slick-initialized .slick-slide:hover,
.slick-initialized .slick-slide.active {
    background-color: transparent;
}

.order-box {
    margin: 6px;
}

.actions .btn {
    width: 100%;
}

.actions .btn-wrapper {
    padding: 5px;
}
.empty-orders {
    text-align: center;
    height: 197px;
}
.empty-orders h4 {
    margin-top: 140px;
}
span.frist-text{
        font-size: 2pc;
        margin-left: -103px;

}
span.middle-text{
    font-size: 2pc;
    margin: 73px;

}
span.left-text {
    margin: 250px;
}
p.left-text {
     
        padding-top: -18px;
        margin-top: -35px;
        padding-left: 269px;
}

span.middle-input input#input {
    width: 277px;
    margin-right: 82px;
    padding-top: 28px;
} 

span.third-text{
    font-size: 2pc;
    margin-left: 468px;

}
.col.s12.middle-line {
    border-bottom: double;
    border-bottom-width: initial;
    height: 109px;
}
 .button-wrapper {
        margin-right: 549px;
    }
    .modal {
        height: 325px;
    }
